body {
    margin:0;
    font-family:Arial, sans-serif;
    background:#ddd;
}


header {
    background:#d94b57;
    color:white;
    padding:20px;
    text-align:center;
}

header h1 {
    margin:0;
}

<nav {
    background:white;
    padding:15px;
    text-align:center;
}

nav button {
    padding:10px;
    margin:5px;
    border:none;
    curson:pointer;
}

.container {
    background:white;
    widht:60%;
    margin:50px auto;
    padding:30px;
    box-shadow:0 0 15px gray;
    text-align:center;
}

input {
    display:block;
    widht:80%;
    margin:15px auto;
    padding:12px;
}

.login {
    background:#d94b57;
    color:white;
    padding:12px 30px;
    border:none;
    curson:pointer;
}

#result {
    font-weight:bolt;
    margin-top:20px;
}

footer {
    position:fixed;
    bottom:0;
    widht:100%;
    background:#111;
    color:white;
    text-align:center;
    padding:15px;
}

/*
=====================================
LEVEL 3

Passwort:
cssmaster

=====================================
*/